*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;

}
.fool{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 556px;
	height: 218px;
}
table{
	font-family: Century Gothic;
	
}
th{
	background-color: #00BFFF;
	color: white;
	font-size: 14px;
	font-weight: 900;
}
.com, .name{
	width: 152px;
	height: 42px;
	padding-left: 20px;
	text-align: left;
}
.qn, .data{
	width: 100px;
	height: 42px;
}
.name{
	background-color: #00BFFF;
	color: white;
	font-size: 14px;
}
.data{
	background-color: #87CEFA;
	font-size: 14px;
	text-align: center;
}