*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
.fool_6{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 547px;
	height: 290px;
	margin: auto;
}
table{
	font-family: Calibri;	
}
td{
	background: rgb(155, 255, 155);
	width: 108px;
	height: 32px;
	text-align: center;
}
.null{
	background: white;
}
.qn{
	background: rgb(0, 255, 0);
	color: white;
}
.ok{
	background: url(../img/ok.png) rgb(155, 255, 155) center center no-repeat;
  	background-size: 33%;
}
.ok img{
	width: auto;
}
.down{
	background: white;
}
.down_2{
	background: white;
	color: rgb(0, 255, 0);
	font-size: 25px;
}
button{
	border-radius: 5px;
	width: 85px;
	height: 30px;
	background: rgb(255, 50, 50);
	color: white;
}

